h1, p, button {
	margin: 0;
}

h1 {
text-align: center;
margin-top: 120px;
font-family: arial;
font-family: 'Armata', sans-serif;
color: white;
font-size: 48px;
}

p {
	text-align: center;
	font-size: 200px;
	margin-top: 100px;
	font-family: 'Armata', sans-serif;
	color: white;
}

button {
	margin: 100px auto;
	display: block;
	font-size: 28px;
	font-family: 'Armata', sans-serif;
	border-radius: 10px;
	letter-spacing: 1px;
	color: MidnightBlue;
	transition-property: all;
  	transition-duration: .1s;
  	transition-timing-function: linear;
}

button:hover {
	color: gray;
}

body {
	background: MidnightBlue;
}